# Dependencies
node_modules/
dist/
build/

# Docker
pgdata/

# Env
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Scratch
scratch/

# Firebase Secrets
scripts/serviceAccountKey.json
*.xlsx