--
-- PostgreSQL database cluster dump
--

\restrict Mr4kn9arm57dPMfxmdv2iSb2Nkv3J4vDjedkfuePmGp0bymcrHLDRTaoc8dWxyi

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE visitadoctores;




--
-- Drop roles
--

DROP ROLE visitadoc_user;


--
-- Roles
--

CREATE ROLE visitadoc_user;
ALTER ROLE visitadoc_user WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:eK5Q4gRpT9yaAbnbXnD3dA==$MmBrdm2LjQFRAFuxrKcY6zQdbYot8qb1SaJ2ZnnAWPA=:Xojh9kAYxxh/50ZEXYaoI8lPu9RDYlut5engi8+rWYw=';

--
-- User Configurations
--








\unrestrict Mr4kn9arm57dPMfxmdv2iSb2Nkv3J4vDjedkfuePmGp0bymcrHLDRTaoc8dWxyi

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict EFHlhUhCjGQantYe1E3AHmMx2UWg87VWvqs59SWCAIizzItLfj77KSfB0V0ZBSP

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: visitadoc_user
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO visitadoc_user;

\unrestrict EFHlhUhCjGQantYe1E3AHmMx2UWg87VWvqs59SWCAIizzItLfj77KSfB0V0ZBSP
\connect template1
\restrict EFHlhUhCjGQantYe1E3AHmMx2UWg87VWvqs59SWCAIizzItLfj77KSfB0V0ZBSP

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: visitadoc_user
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: visitadoc_user
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict EFHlhUhCjGQantYe1E3AHmMx2UWg87VWvqs59SWCAIizzItLfj77KSfB0V0ZBSP
\connect template1
\restrict EFHlhUhCjGQantYe1E3AHmMx2UWg87VWvqs59SWCAIizzItLfj77KSfB0V0ZBSP

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: visitadoc_user
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict EFHlhUhCjGQantYe1E3AHmMx2UWg87VWvqs59SWCAIizzItLfj77KSfB0V0ZBSP

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict rX1itHZg50iJfWuOppAmuDzwqcnSS5hX77nvPRBLTLAg5wNp1JEDSrsC9buIpMo

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: visitadoc_user
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO visitadoc_user;

\unrestrict rX1itHZg50iJfWuOppAmuDzwqcnSS5hX77nvPRBLTLAg5wNp1JEDSrsC9buIpMo
\connect postgres
\restrict rX1itHZg50iJfWuOppAmuDzwqcnSS5hX77nvPRBLTLAg5wNp1JEDSrsC9buIpMo

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: visitadoc_user
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

\unrestrict rX1itHZg50iJfWuOppAmuDzwqcnSS5hX77nvPRBLTLAg5wNp1JEDSrsC9buIpMo

--
-- Database "visitadoctores" dump
--

--
-- PostgreSQL database dump
--

\restrict Lbl3WaqV5hArmAGOcEcopPwEASUMBc1htdeDnM7l4c4qgJhTgfT199EKzwsgWHa

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: visitadoctores; Type: DATABASE; Schema: -; Owner: visitadoc_user
--

CREATE DATABASE visitadoctores WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE visitadoctores OWNER TO visitadoc_user;

\unrestrict Lbl3WaqV5hArmAGOcEcopPwEASUMBc1htdeDnM7l4c4qgJhTgfT199EKzwsgWHa
\connect visitadoctores
\restrict Lbl3WaqV5hArmAGOcEcopPwEASUMBc1htdeDnM7l4c4qgJhTgfT199EKzwsgWHa

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: doctors; Type: TABLE; Schema: public; Owner: visitadoc_user
--

CREATE TABLE public.doctors (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    specialty character varying(255) DEFAULT ''::character varying,
    phone character varying(50) DEFAULT ''::character varying,
    email character varying(255) DEFAULT ''::character varying,
    address text DEFAULT ''::text,
    notes text DEFAULT ''::text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    license character varying(100)
);


ALTER TABLE public.doctors OWNER TO visitadoc_user;

--
-- Name: doctors_id_seq; Type: SEQUENCE; Schema: public; Owner: visitadoc_user
--

CREATE SEQUENCE public.doctors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.doctors_id_seq OWNER TO visitadoc_user;

--
-- Name: doctors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: visitadoc_user
--

ALTER SEQUENCE public.doctors_id_seq OWNED BY public.doctors.id;


--
-- Name: inventory_stocks; Type: TABLE; Schema: public; Owner: visitadoc_user
--

CREATE TABLE public.inventory_stocks (
    id integer NOT NULL,
    doctor_id integer NOT NULL,
    product_id integer NOT NULL,
    target_stock integer DEFAULT 0 NOT NULL,
    current_stock integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.inventory_stocks OWNER TO visitadoc_user;

--
-- Name: inventory_stocks_id_seq; Type: SEQUENCE; Schema: public; Owner: visitadoc_user
--

CREATE SEQUENCE public.inventory_stocks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventory_stocks_id_seq OWNER TO visitadoc_user;

--
-- Name: inventory_stocks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: visitadoc_user
--

ALTER SEQUENCE public.inventory_stocks_id_seq OWNED BY public.inventory_stocks.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: visitadoc_user
--

CREATE TABLE public.products (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    presentation character varying(255) DEFAULT ''::character varying,
    laboratory character varying(255) DEFAULT ''::character varying,
    description text DEFAULT ''::text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.products OWNER TO visitadoc_user;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: visitadoc_user
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.products_id_seq OWNER TO visitadoc_user;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: visitadoc_user
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: sales_history; Type: TABLE; Schema: public; Owner: visitadoc_user
--

CREATE TABLE public.sales_history (
    id integer NOT NULL,
    doctor_id integer,
    product_id integer,
    quantity integer DEFAULT 1 NOT NULL,
    sale_date date NOT NULL,
    raw_text text DEFAULT ''::text,
    parsed_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.sales_history OWNER TO visitadoc_user;

--
-- Name: sales_history_id_seq; Type: SEQUENCE; Schema: public; Owner: visitadoc_user
--

CREATE SEQUENCE public.sales_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sales_history_id_seq OWNER TO visitadoc_user;

--
-- Name: sales_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: visitadoc_user
--

ALTER SEQUENCE public.sales_history_id_seq OWNED BY public.sales_history.id;


--
-- Name: doctors id; Type: DEFAULT; Schema: public; Owner: visitadoc_user
--

ALTER TABLE ONLY public.doctors ALTER COLUMN id SET DEFAULT nextval('public.doctors_id_seq'::regclass);


--
-- Name: inventory_stocks id; Type: DEFAULT; Schema: public; Owner: visitadoc_user
--

ALTER TABLE ONLY public.inventory_stocks ALTER COLUMN id SET DEFAULT nextval('public.inventory_stocks_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: visitadoc_user
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: sales_history id; Type: DEFAULT; Schema: public; Owner: visitadoc_user
--

ALTER TABLE ONLY public.sales_history ALTER COLUMN id SET DEFAULT nextval('public.sales_history_id_seq'::regclass);


--
-- Data for Name: doctors; Type: TABLE DATA; Schema: public; Owner: visitadoc_user
--

COPY public.doctors (id, name, specialty, phone, email, address, notes, created_at, updated_at, license) FROM stdin;
1	JUAN RAMON REYES FERNADEZ						2026-03-16 23:09:58.66253+00	2026-03-16 23:09:58.66253+00	
\.


--
-- Data for Name: inventory_stocks; Type: TABLE DATA; Schema: public; Owner: visitadoc_user
--

COPY public.inventory_stocks (id, doctor_id, product_id, target_stock, current_stock, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: visitadoc_user
--

COPY public.products (id, name, presentation, laboratory, description, created_at, updated_at) FROM stdin;
6	FEBRAX INFANTIL  SUPOS  C/5				2026-03-16 23:22:58.591264+00	2026-03-16 23:22:58.591264+00
\.


--
-- Data for Name: sales_history; Type: TABLE DATA; Schema: public; Owner: visitadoc_user
--

COPY public.sales_history (id, doctor_id, product_id, quantity, sale_date, raw_text, parsed_at, created_at) FROM stdin;
1	1	\N	1	2026-02-27	Email Sync: Seguimiento FarmaLike	2026-03-16 23:09:58.680269+00	2026-03-16 23:09:58.680269+00
4	1	6	1	2026-02-27	Email Sync: Seguimiento FarmaLike	2026-03-16 23:22:58.596509+00	2026-03-16 23:22:58.596509+00
2	1	\N	1	2026-02-27	Email Sync: Seguimiento FarmaLike	2026-03-16 23:15:26.18567+00	2026-03-16 23:15:26.18567+00
3	1	\N	1	2026-02-27	Email Sync: Seguimiento FarmaLike	2026-03-16 23:20:24.159378+00	2026-03-16 23:20:24.159378+00
\.


--
-- Name: doctors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: visitadoc_user
--

SELECT pg_catalog.setval('public.doctors_id_seq', 1, true);


--
-- Name: inventory_stocks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: visitadoc_user
--

SELECT pg_catalog.setval('public.inventory_stocks_id_seq', 1, false);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: visitadoc_user
--

SELECT pg_catalog.setval('public.products_id_seq', 6, true);


--
-- Name: sales_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: visitadoc_user
--

SELECT pg_catalog.setval('public.sales_history_id_seq', 4, true);


--
-- Name: doctors doctors_pkey; Type: CONSTRAINT; Schema: public; Owner: visitadoc_user
--

ALTER TABLE ONLY public.doctors
    ADD CONSTRAINT doctors_pkey PRIMARY KEY (id);


--
-- Name: inventory_stocks inventory_stocks_doctor_id_product_id_key; Type: CONSTRAINT; Schema: public; Owner: visitadoc_user
--

ALTER TABLE ONLY public.inventory_stocks
    ADD CONSTRAINT inventory_stocks_doctor_id_product_id_key UNIQUE (doctor_id, product_id);


--
-- Name: inventory_stocks inventory_stocks_pkey; Type: CONSTRAINT; Schema: public; Owner: visitadoc_user
--

ALTER TABLE ONLY public.inventory_stocks
    ADD CONSTRAINT inventory_stocks_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: visitadoc_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: sales_history sales_history_pkey; Type: CONSTRAINT; Schema: public; Owner: visitadoc_user
--

ALTER TABLE ONLY public.sales_history
    ADD CONSTRAINT sales_history_pkey PRIMARY KEY (id);


--
-- Name: idx_doctors_name; Type: INDEX; Schema: public; Owner: visitadoc_user
--

CREATE INDEX idx_doctors_name ON public.doctors USING btree (name);


--
-- Name: idx_inventory_critical; Type: INDEX; Schema: public; Owner: visitadoc_user
--

CREATE INDEX idx_inventory_critical ON public.inventory_stocks USING btree (current_stock);


--
-- Name: idx_inventory_doctor; Type: INDEX; Schema: public; Owner: visitadoc_user
--

CREATE INDEX idx_inventory_doctor ON public.inventory_stocks USING btree (doctor_id);


--
-- Name: idx_inventory_product; Type: INDEX; Schema: public; Owner: visitadoc_user
--

CREATE INDEX idx_inventory_product ON public.inventory_stocks USING btree (product_id);


--
-- Name: idx_products_name; Type: INDEX; Schema: public; Owner: visitadoc_user
--

CREATE INDEX idx_products_name ON public.products USING btree (name);


--
-- Name: idx_sales_date; Type: INDEX; Schema: public; Owner: visitadoc_user
--

CREATE INDEX idx_sales_date ON public.sales_history USING btree (sale_date);


--
-- Name: idx_sales_doctor; Type: INDEX; Schema: public; Owner: visitadoc_user
--

CREATE INDEX idx_sales_doctor ON public.sales_history USING btree (doctor_id);


--
-- Name: idx_sales_product; Type: INDEX; Schema: public; Owner: visitadoc_user
--

CREATE INDEX idx_sales_product ON public.sales_history USING btree (product_id);


--
-- Name: inventory_stocks inventory_stocks_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: visitadoc_user
--

ALTER TABLE ONLY public.inventory_stocks
    ADD CONSTRAINT inventory_stocks_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.doctors(id) ON DELETE CASCADE;


--
-- Name: inventory_stocks inventory_stocks_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: visitadoc_user
--

ALTER TABLE ONLY public.inventory_stocks
    ADD CONSTRAINT inventory_stocks_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: sales_history sales_history_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: visitadoc_user
--

ALTER TABLE ONLY public.sales_history
    ADD CONSTRAINT sales_history_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.doctors(id) ON DELETE SET NULL;


--
-- Name: sales_history sales_history_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: visitadoc_user
--

ALTER TABLE ONLY public.sales_history
    ADD CONSTRAINT sales_history_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict Lbl3WaqV5hArmAGOcEcopPwEASUMBc1htdeDnM7l4c4qgJhTgfT199EKzwsgWHa

--
-- PostgreSQL database cluster dump complete
--

